@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
  font-family: 'Permanent Marker';
}

.name {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 20px;
  text-align: center;
}

.title {
  font-size: 25px;
  margin-top: 0px;
  text-align: center;
}

.nav-bar {
  border-color: black;
  border-style: solid;
  border-width: px;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
